<!doctype html>
<html lang="ua">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Список документів</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Список шаблонів документів</h1>

            <ol>
                <li><a href="ЗАЯВА_1.html">ЗАЯВА_1</a></li>
                <li><a href="ЗАЯВА_2.html">ЗАЯВА_2</a></li>
                <li><a href="ЗАЯВА_3.html">ЗАЯВА_3</a></li>
                <li><a href="ЗАЯВА_4.html">ЗАЯВА_4</a></li>
                <li><a href="ДОКУМЕНТ_ПРО_ОПЛАТУ.html">ДОКУМЕНТ_ПРО_ОПЛАТУ</a></li>
                <li><a href="КЛОПОТАННЯ_ДР_1.html">КЛОПОТАННЯ_ДР_1</a></li>
                <li><a href="КЛОПОТАННЯ_ДР_2.html">КЛОПОТАННЯ_ДР_2</a></li>
                <li><a href="КЛОПОТАННЯ_ДУБЛІКАТ.html">КЛОПОТАННЯ_ДУБЛІКАТ</a></li>
                <li><a href="КЛОПОТАННЯ_ЗАЯВКА.html">КЛОПОТАННЯ_ЗАЯВКА</a></li>
                <li><a href="ПОВЕРНЕННЯ.html">ПОВЕРНЕННЯ</a></li>
                <li><a href="ПОВІДОМЛЕННЯ_1.html">ПОВІДОМЛЕННЯ_1</a></li>
                <li><a href="ПОВІДОМЛЕННЯ_2.html">ПОВІДОМЛЕННЯ_2</a></li>
                <li><a href="РІШЕННЯ_1.html">РІШЕННЯ_1</a></li>
                <li><a href="РІШЕННЯ_1_ВІДМ.html">РІШЕННЯ_1_ВІДМ</a></li>
                <li><a href="РІШЕННЯ_1_ВІДМ_опл.html">РІШЕННЯ_1_ВІДМ_опл</a></li>
                <li><a href="РІШЕННЯ_1_опл.html">РІШЕННЯ_1_опл</a></li>
                <li><a href="РІШЕННЯ_2.html">РІШЕННЯ_2</a></li>
                <li><a href="РІШЕННЯ_2_ВІДМ.html">РІШЕННЯ_2_ВІДМ</a></li>
                <li><a href="РІШЕННЯ_2_ВІДМ_опл.html">РІШЕННЯ_2_ВІДМ_опл</a></li>
                <li><a href="РІШЕННЯ_2_опл.html">РІШЕННЯ_2_опл</a></li>
                <li><a href="РІШЕННЯ_3_1.html">РІШЕННЯ_3_1</a></li>
                <li><a href="РІШЕННЯ_3_1_ВІДМ.html">РІШЕННЯ_3_1_ВІДМ</a></li>
                <li><a href="РІШЕННЯ_3_1_ВІДМ_опл.html">РІШЕННЯ_3_1_ВІДМ_опл</a></li>
                <li><a href="РІШЕННЯ_3_2.html">РІШЕННЯ_3_2</a></li>
                <li><a href="РІШЕННЯ_3_2_ВІДМ.html">РІШЕННЯ_3_2_ВІДМ</a></li>
                <li><a href="РІШЕННЯ_3_2_ВІДМ_опл.html">РІШЕННЯ_3_2_ВІДМ_опл</a></li>
                <li><a href="РІШЕННЯ_4_ВІДМ.html">РІШЕННЯ_4_ВІДМ</a></li>
                <li><a href="РІШЕННЯ_4_ВІДМ_опл.html">РІШЕННЯ_4_ВІДМ_опл</a></li>
                <li><a href="РІШЕННЯ_4_повн.html">РІШЕННЯ_4_повн</a></li>
                <li><a href="РІШЕННЯ_4_част.html">РІШЕННЯ_4_част</a></li>
                <li><a href="СВІДОЦ_1.html">СВІДОЦ_1</a></li>
                <li><a href="СВІДОЦ_1_оприл.html">СВІДОЦ_1_оприл</a></li>
                <li><a href="СВІДОЦ_2.html">СВІДОЦ_2</a></li>
                <li><a href="СВІДОЦ_2_оприл.html">СВІДОЦ_2_оприл</a></li>
                <li><a href="СУПР_СВІДОЦ.html">СУПР_СВІДОЦ</a></li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>