<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Документ про оплату</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1 class="h4">МІНІСТЕРСТВО ЕКОНОМІЧНОГО РОЗВИТКУ І ТОРГІВЛІ УКРАЇНИ<br>(Мінекономрозвитку України)</h1>

                <p class="pt-4">Вул. М. Грушевського, 12/2, м. Київ, 01008, тел. 253-93-94, факс 226-31-81<br>
                    Web: http://www.me.gov.ua, e-mail: meconomy@me.gov.ua, код ЄДРПОУ 37508596</p>

                <p class="font-weight-bold pt-2">ЗАЯВА<br>про реєстрацію авторського права на твір</p>

                <hr>

                <div class="pl-5 pr-5 pt-3">
                    <table class="table table-bordered table-sm g-table-border-color-black g-font-size-12">
                        <tr>
                            <td class="font-weight-bold" width="25%">Номер заявки</td>
                            <td colspan="3">Дата подання</td>
                        </tr>
                        <tr>
                            <td rowspan="2">{APP_NUMBER}</td>
                            <td>{APP_DAY}</td>
                            <td>{APP_MONTH}</td>
                            <td>{APP_YEAR}</td>
                        </tr>
                        <tr>
                            <td>Число</td>
                            <td>Місяць</td>
                            <td>Рік</td>
                        </tr>
                    </table>
                </div>
            </div>

            <hr>

            <p class="g-font-size-16 g-text-indent-15">Направляю документ про оплату збору за оформлення і видачу свідоцтва про державну реєстрацію прав автора на твір (додається).</p>

            <p>{NAME_AND_SIGN}</p>

            <p><b>Дата:</b> {DATE}</p>

        </div>
    </div>
</div>

</body>
</html>