<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>СВІДОЦ_2</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center mt-5">
                <p class="text-center g-font-size-16"><b>УКРАЇНА</b></p>

                <p class="text-center pt-4 g-font-size-16 pb-5"><b>Державна служба інтелектуальної власності</b></p>

                <h1 class="font-weight-bold mt-5"><b>СВІДОЦТВО</b></h1>
                <h2 class="h4 mb-5"><b>про реєстрацію авторського права на твір</b></h2>

                <p class="g-font-size-16 pt-4"><b>№ {NUMBER}</b></p>
            </div>

            <p class="g-font-size-16 border-bottom g-border-color-black mb-0"><b>{FULL_TITTLE}</b>,
                <b>({SHORT_TITLE})</b></p>
            <p class="small text-center">(вид, назва твору)</p>

            <p class="g-font-size-16 border-bottom g-border-color-black mb-0">Автор(и) <b>{AUTHORS}</b></p>
            <p class="small text-center">(повне ім'я, псевдонім (за наявності))</p>

            <p class="g-font-size-16 border-bottom g-border-color-black mb-0">Авторські майнові права належать <b>{RIGHTS}</b></p>
            <p class="small text-center">(повне ім'я фізичної та/або повне офіційне найменування юридичної особи, адреса)</p>

            <table class="table table-sm mt-5 g-table-border-color-none">
                <tr>
                    <td width="50%" class="g-text-align-right pr-5 align-bottom"><i>Дата реєстрації</i></td>
                    <td class="g-font-size-16 align-bottom">{REGISTRATION_DATE}</td>
                </tr>
            </table>

            <div class="p-4">
                <table class="table table-sm g-table-border-color-none text-left mt-5 g-font-size-16">
                    <tr>
                        <td width="39%" class="pl-5">
                            <b>Заступник Голови Державної служби<br>інтелектуальної власності</b><br><br>
                            М.П. {PRINT_PLACE}
                        </td>
                        <td width="34%" class="text-center"><br><br>{SIGN}</td>
                        <td class="text-center pr-5"><br><br><b>Л.В. Висоцька</b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>